* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(17, 17, 37);

}
a{
    text-decoration: none;
    color: white;
    transition: .5s;
}

a:hover{
    color: rgb(126, 126, 126);
}